.cardPic {
    float: left;
    padding-bottom: 30px;
    margin-left: 100px;
}

img {
    height: 170px;
    width: 170px;
    border: 5px;
    border-style: solid;
    border-color: white;
}

.characterImages:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }