.navbar {
  background: #FF6900;
  min-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 99;
  white-space: nowrap;
}

.navbar a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.navbar-brand {
  padding-right: 100px;
}

.score {
  padding-left: 90px;
}